@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #263138;
    --botao-cinza: #DFDFDF;
    --cor-da-fonte-principal: #445964;
    --fonte-principal: 'Inter', sans-serif;
    --botao-azul-efeito:#3c92fa;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--branco-principal);
    color: var(--cor-da-fonte-principal);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}

/* Inicio do menu */
.cabecalho{
    background-color: var(--branco-principal);
    color: var(--cor-da-fonte-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    width: 100vw;
    height: 10vh;
}
.container {
    display: flex;
    align-items: center;  
    padding-left: 10vw; 
    width: 35vw; 
}

.container__titulo {
    font-size: 2em;
    padding-left: 1em;
    font-weight: 700;
}

.lista-menu {
    display: flex;
    justify-content: space-between;
    padding-right: 10vw;
    width: 55vw;
    
}

.lista-menu__item {
    list-style: none;
    
}

.lista-menu__link {
    text-decoration: none;
    color: var(--cor-da-fonte-principal);
    padding: 2em;

}


/* inicio do home */
.conteudo {
    width: 100vw;
}

.home {
    display: flex;
    justify-content: space-between;
    padding: 5vh 10vw 0 10vw ;
}

.home_img {
    width: 40vw;
}

.home__resumo{
    /* width: 40vw; */
    display: flex;
    flex-direction: column;
}

.home__informacao {
    padding-top: 3em;
}

.home__texto {
    font-size: 2em;
}

.homne__titulo {
    font-size: 4em;
    font-weight: 700;
    padding: .2em 0;
}

.home__botao {
    padding: 15vh 8vw;
    text-decoration: none;
    justify-content: center;

}

.home__botao_ancora {
    text-decoration: none;
    background-color: var(--cinza-secundario);
    color: var(--branco-principal);
    padding: 1em;
    border: 2px solid var(--botao-azul);
    border-radius: 1em;
}

.home__botao_ancora:hover {
    background-color: var(--cor-da-fonte-principal);
    border: 2px solid var(--cinza-secundario);
    transition: 0.4s;
}

.home__icones__lista {
    display: flex;
}

.home__icones__link {
    padding: .5em;
}

/* inicio do sobre min */

.sobre__conteudo {
    background-color: var(--branco-principal);
    color: var(--cor-da-fonte-principal);
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.sobre__conteudo_imagens {
    padding-left: 10vw;
    width: 48.5vw;
}
.sobre__conteudo_imagem {
   height: 85vh;
   
}

.sobre__descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10vw;
}

.sobre__titulo {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.sobre__texto {
    font-size: 1.2em;
    padding-top: 2em;
}

/* inicio do portifolio  */

.portifolio {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2em;
}

.portifolio__conteudo {
    display: flex;
    align-items: center;
}

.portifolio__titulos {
    width: 15vw;
}

.portifolio__titulo_principal {
    font-size: 3em;
    font-weight: 700;
    color: var(--cinza-secundario);
    
}

.portifolio__titulo_secundario {
    font-size: 3em;
    font-weight: 700;
}

.portifolio__descricao {
    width: 15vw;
    font-size: 1.2em;
}

.portifolio__nav {
    padding-top: 1.5em;
}

.nav__portifolio {
    padding-top: 2em;
    display: flex;
    gap: 1em;
}

.lista-portifolio__link {
    text-decoration: none;
    color: var(--cor-da-fonte-principal);
    background-color: var(--botao-cinza);
    padding: 1em;
    border-radius: 10px; 
}

.lista-portifolio__link:hover {
    color: var(--botao-cinza);
    background-color: var(--cor-da-fonte-principal);
} 

.portifolio__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.portifolio__link-visualiza {
    width: 20vw;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portifolio__imagem {
    width: 25em;
}

.portifolio__titulo_terciario {
    font-size: 2em;
    font-weight: 700;
    padding: 1em 0 .2em 0;
    color: var(--cinza-secundario);
}

.portifolio__texto {
    text-align: center;
    padding-bottom: .5em;
}

.portifolio__botao {
    text-decoration: none;
    color: var(--branco-principal);
    border: 1px solid var(--botao-cinza);
    background-color: var(--cinza-secundario);
    padding: 1em;
}
.portifolio__botao:hover {
    background-color: var(--cor-da-fonte-principal);
    transition: .3s;
}

/* iniciando footer */
.footer {
    padding-top: 2em;
    width: 6em;
}
.footer__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1em;
    width: 97vw;
    height: 7em; 
}
.footer__logo {
    padding-left: 10vw;
    width: 48.5vw;
}
.footer__logo__img {
    padding: 1em 0 .5em 3em;
}

.footer__textocopy {
    font-size: .7em;
    color: var(--cinza-secundario);
}

.footer__descricao {
    width: 49.5vw;
    padding-right: 10vw;
}

.footer__titulo {
    font-size: 1.4em;
    font-weight: 700;
    text-align: end;
}

.footer__texto {
    font-size: 1em;
    color: var(--cor-da-fonte-principal);
    text-align: end;
    padding-top: 1em;
}

